<html>
	
		<h2><b>My Projects</b></h2>
		<div class ="mainpage">
			<table>
			<tr>
				<th>
					Projects
				</th>
				<th>
					Current_Iterations
				</th>

			</tr>
				<% i=0 %>
				<% @member.each do |em| %>
				<% @pro_id = em.project_id %>
				<tr>				
							<td>
								<% @myprojects_i = Project.find(:all, :conditions => {:id => @pro_id}) %>
								<% @myprojects_i.each do |pro| %>
									<b><%= link_to pro.name, project_path(pro.id) %></b>
								<% end %>
							</td>
							<td><% @iteration_i = Iteration.find(:all, :conditions => {:project_id => @pro_id  })%>
								<% @iteration_i.each do |currenti| %>
									<% if currenti.status == "Open"%>
										<%= link_to currenti.name, project_iteration_path(@pro_id, currenti.id )%>
									<%else%>
										
									<%end%>
								<% end %></td></tr>
				<% end %>
				
			
			</table>
		</div>
		<style>
			.mainpage
			{
			   background: none repeat scroll 0 0 #F5FCFC;
				border: 1px solid #E4E4E4;
				border-radius: 5px 5px 5px 5px;
				max-width: 40%;
			}
		</style>
		
</html>

